/* Estilos para Contact Section*/

@import url("./variables.css");

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 1rem;
}

.contact__container {
    max-width: 1280px;
    width: 100%;
}

.contact__title {
    margin: 0px auto 20px;
    font-family: var(--font-family-bold);
    font-size: var(--font-size-xxl);
    color: var(--primary-color-terracota);
}

.contact__subtitle {
    padding-top: 50px;
    font-family: "Inter-Regular", sans-serif;
    font-size: var(--font-size-s);

    color: var(--primary-color-terracota);
}

.contact__text {
    padding-bottom: 20px;
    font-family: var(--font-family);
    font-size: var(--font-size-m);

}

.contact__information {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.contact__description_container {
    /* width: 50%; */

    /* Modificaciones Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.contact__container_location {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
}

/* .image__container{

} */

.image__location {
    max-width: 30px;
    max-height: 30px;
    background-color: var(--primary-color-terracota-claro);
    border-radius: 7px;
}

.image__atention {
    max-width: 30px;
    max-height: 30px;
    background-color: var(--primary-color-terracota-claro);
    border-radius: 7px;
}

/* .card__description_container{

} */

.card__title {
    color: var(--primary-color-terracota);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-m);
    margin: 0px;
}

.card__description {
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0px;
}

.card__link {
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0px;
}

/* .contact__container_atention{

} */



/* .card__description_container{

} */









.contact__location {
    margin: 0;

}

.card__container {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
}

/* .maps{
    max-width: 100%;
    max-height: 100%;
} */


@media screen and (width <=767px) {
    .contact {
        padding: 0 0.5rem;
    }

    .contact__information {
        flex-direction: column;
        gap: 2rem;
    }

    .contact__description_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact__max {
        width: 100%;
    }

    .contact__location iframe {
        width: 100% !important;
        max-width: 100%;
    }

    .contact__title {
        font-size: var(--font-size-xl);
    }

    .contact__subtitle {
        font-size: var(--font-size-xs);
    }

    .contact__text {
        font-size: var(--font-size-s);
    }
}