@import url("./variables.css");

*{
  margin: 0px;
  padding: 0px;
}

.footer {
  margin: 10px auto;
  /* border-top: 1px solid black; */
  /* color: #545454;  */
  color: white;
  background-color: rgba(0, 0, 0, 0.57);
}

.footer__container{
  /* display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); */
  display: flex;

  justify-content: space-around;
  align-content: center;
}
.footer__contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo-facebook{
  height: 25px;
}
.footer__media{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title{
  padding: 10px;

  
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  /* color: var(--primary-color-terracota); */
  color: white;
}

.footer__subtitle{
  padding: 2px;

  
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: 100;
  /* color: var(--primary-color-terracota); */
  color: white;
}

.footer__description{
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}

.footer__logo{
  height: 80px;
}

.footer__container{
  margin: 0;
}

.footer__author{
  padding-bottom: 10px;
  
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}

.footer__media{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}



@media screen and (max-width: 605px) {
  .footer {
    font-size: 14px;
  }
}
