/* Estilos para Footer */

@import url("./variables.css");

.footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-facebook {
  height: 25px;
  cursor: pointer;

}

.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  padding: 10px;


  font-family: var(--font-family);
  font-size: var(--font-size-m);
  /* color: var(--primary-color-terracota); */
  color: white;
}

.footer__subtitle {
  padding: 2px;


  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: 100;
  /* color: var(--primary-color-terracota); */
  color: white;
}

.footer__description {
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}

.footer__logo {
  height: 80px;
  cursor: pointer;
}

.footer__container {
  margin: 0;
  padding: 0.5rem;
}

.footer__author {
  padding-bottom: 10px;

  font-family: var(--font-family);
  font-size: var(--font-size-s);
}

.footer__media {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}



@media screen and (width <=767px) {
  .footer__subtitle {
    font-size: var(--font-size-xs);
  }

  .footer__author {
    font-size: var(--font-size-xs);
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__media {
    max-width: 100%;
    align-items: center;
  }

  .footer__logo {
    height: 60px;
  }
}