@import url("./variables.css");

*{
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: rgba(0, 0, 0, 0.57);
  display: flex;
  position: fixed;
  /* max-width: 1200px; */
  width: 100%;
  z-index: 2;

  /* justify-items: center; */
  align-items: center;
  justify-content: space-around;

  /* border-bottom: 1px solid #545454; */
}


.nav-list{
  
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  /* color: var(--primary-color-terracota-ultraclaro); */
  color: white;
}

.header__button_close{
  display: none;
}

.header__button_open{
  display: none;
  background-color: var(--primary-color-terracota-ultraclaro);
  border-style: none;
}

.header__logo {
  /* max-width: 100px; */
  max-width: 5rem;
  width: 100%;
  padding: 10px;
}

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.header__nav{
  padding: 10px;
  font-family: var(--font-family);
}

.header__button{
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  padding: 10px;
}

.header__button_book{
    background-color: var(--primary-color-terracota-ultraclaro);
    border-style: none;
}


@media screen and (1023px <= width){
    
}

@media screen and (768px <= width <= 1023px){
  
}

@media screen and (width <= 767px){
  /* .header{
    height: 50px;
  } */

  .header__nav{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .header__button_open{
    display: block;
  }

  .header__button{
    display: none;
  }

  .header__nav{
    /* position: absolute; */
    /* display: flex; */
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    top: 0;
    right: 0;
    bottom: 0;
    
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .header__nav_visible{
    opacity: 1;
    visibility: visible;
  }

  .nav-list{
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--primary-color-terracota-ultraclaro);
  }

  .header__logo {
    /* max-width: 100px; */
    max-width: 3.5rem;
    width: 100%;
    padding: 0px;
  }
  .header__image{
    padding: 0px;
    margin: 0px;
  }
   
}