@import url("./variables.css");

* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: rgba(0, 0, 0, 0.57);
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  /* max-width: 1200px; */
  /* max-width: 1280px; */
  width: 100%;
  z-index: 2;

  /* justify-items: center; */
  align-items: center;
  justify-content: space-around;

  /* border-bottom: 1px solid #545454; */
}

.header__logo {
  max-width: 5rem;
  width: 100%;
  padding: 10px;
}

.header__nav {
  padding: 10px;
  font-family: var(--font-family);
}

.header__button_close {
  display: none;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  /* color: var(--primary-color-terracota-ultraclaro); */
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}

.header__button_book {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  background-color: var(--primary-color-terracota-ultraclaro);
  border-style: none;

  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
}

.header__button_open {
  display: none;
  background-color: var(--primary-color-terracota-ultraclaro);
  border-style: none;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}



@media screen and (1023px <=width) {}

@media screen and (768px <=width <=1023px) {}

@media screen and (width <=767px) {
  .header__nav {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .header__nav {
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    top: 0;
    right: 0;
    bottom: 0;

    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .header__button_close {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--primary-color-terracota-ultraclaro);
  }

  .header__button_book {
    display: none;

  }

  .header__button_open {
    display: block;
    font-family: var(--font-family);
    font-size: var(--font-size-s);

  }

  .header__button {
    display: none;
  }

  .header__nav_visible {
    opacity: 1;
    visibility: visible;
  }

}