@import url("./variables.css");

.heroSection__container{
    display: flex;
    flex-direction: column;
    height: 410px; 
}

.container{
    margin: auto;
}

.heroSection__titulo1{
    margin: 0px auto 20px;
    font-family: var(--font-family-bold);
    font-size: 52px;
    /* font-weight: 500; */
    color: var(--primary-color-terracota);
}

.heroSection__titulo2{
    padding-top: 50px;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    font-weight: 500;
    
    color: var(--primary-color-terracota);
}

.heroSection__text{
    margin: 0px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
}

.header__button_book{
    background-color: var(--primary-color-terracota-ultraclaro);
    border-style: none;
}

