/* Estilos para History Section */

@import url("./variables.css");

.history {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.history__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    gap: 2rem;
}

.history__title {
    margin: 0px auto 2rem;
    font-family: var(--font-family-bold);
    font-size: var(--font-size-xxl);
    color: var(--primary-color-terracota);
}

.history__subtitle {
    padding-top: 2rem;
    font-family: var(--font-family);
    font-size: var(--font-size-m);

    color: var(--primary-color-terracota);
}

.history__text {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

.history__container_description {
    /* max-width: 25rem; */
    width: 40%;
}

.history__imagen_container {
    padding: 5px;
    /* max-width: 25rem; */
    width: 40%;
    justify-content: center;
}

.history__imagen {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}

@media screen and (1023px <=width) {}

@media screen and (768px <=width <=1023px) {
    .history__container {
        padding: 1rem;
    }

    .history__imagen {
        height: 95%;
        width: 95%;
    }
}

@media screen and (width <=767px) {
    .history {
        padding: 1rem 0.5rem;
    }

    .history__container {
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
    }

    .history__container_description {
        width: 100%;
    }

    .history__imagen_container {
        width: 100%;
    }

    .history__title {
        margin: 0px auto;
        font-size: var(--font-size-xl);
    }

    .history__subtitle {
        font-size: var(--font-size-xs);
    }

    .history__imagen_container {
        padding-top: 0.5rem;
    }

    .history__imagen {
        height: 100%;
        width: 100%;
    }

    .history__text {
        font-size: var(--font-size-s);
    }
}