@import url("./variables.css");

* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__title {
    color: var(--primary-color-terracota);
    font-size: var(--font-size-xl);
    padding: 20px 0px;
}

.menu__subtitle {
    color: var(--primary-color-terracota);
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.menu__card {
    display: flex;
    /* height: 50vh; */
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.menu__image {
    /* max-width: 80%; */
    width: 80%;
    height: 70%;
    border-radius: 5px;
    opacity: 0.75;

}

.menu__card-title {
    font-family: var(--font-family-bold);
}

.menu__card-description {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    text-align: center;
    /* padding: 1rem 0px; */
    height: 25%;
    width: 90%;
}

.menu__button {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
}

.menu__button_book {
    background-color: var(--primary-color-terracota-ultraclaro);
    border-style: none;
    margin-bottom: 10px;
}




@media screen and (width <=767px) {
    .menu__container {
        flex-direction: column;

    }

    .menu__image {
        width: 40%;
        height: 35%;

    }

    .menu__card-description {
        font-size: var(--font-size-xs);
        padding: 5px;

    }



}