/* Estilos para Menu Section */

@import url("./variables.css");

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 2rem 1rem;
}

.menu__title {
    color: var(--primary-color-terracota);
    font-size: var(--font-size-xl);
    padding: 20px 0px;
}

.menu__subtitle {
    color: var(--primary-color-terracota);
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    max-width: 1280px;
    width: 100%;
    gap: 1rem;
}

.menu__card {
    display: flex;
    /* height: 50vh; */
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.menu__image {
    /* max-width: 80%; */
    width: 80%;
    height: 70%;
    border-radius: 5px;
    opacity: 0.75;

}

.menu__card-title {
    font-family: var(--font-family-bold);
}

.menu__card-description {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    text-align: center;
    /* padding: 1rem 0px; */
    height: 53px;
    width: 100%;
    max-width: 17rem;
}

.menu__button {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
}

.menu__button_book {
    background-color: var(--primary-color-terracota-ultraclaro);
    border-style: none;
    margin-bottom: 10px;
}

.menu__link {
    text-decoration: none;
    color: black;
}




@media screen and (width <=767px) {
    .menu {
        padding: 1rem 0.5rem;
    }

    .menu__container {
        flex-direction: column;
        gap: 2rem;
    }

    .menu__card {
        width: 100%;
    }

    .menu__image {
        width: 80%;
        height: auto;
    }

    .menu__card-description {
        font-size: var(--font-size-s);
        padding: 5px;
        width: 100%;
    }
}