/* Definiendo estilos de la pagina web */

:root {
    --primary-color-terracota: rgb(141, 43, 16);
    --primary-color-terracota-claro: rgb(176, 85, 55);
    --primary-color-terracota-ultraclaro: rgb(240, 165, 135);

    --primary-color-terracota-oscuro: rgb(110, 30, 10);
    --primary-color-terracota-ultraoscuro: rgb(80, 20, 5);

    --primary-color-amarillo: rgb(251, 156, 30);
    --primary-color-cafe: rgb(44, 4, 2);


    --font-family: "Ubuntu", sans-serif;
    --font-family-bold: "Ubuntu-Bold", sans-serif;

    /* --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 52px;
    --font-size-xxl: 52px; */


    --font-size-xs: 0.9em;
    --font-size-s: 1em;
    --font-size-m: 1.1em;
    --font-size-l: 1.2em;
    --font-size-xl: 1.8em;
    --font-size-xxl: 3em;
}