:root{
    --primary-color-terracota: rgb(141,43,16);
    --primary-color-terracota-claro: rgb(176,85,55);
    --primary-color-terracota-ultraclaro: rgb(240, 165, 135);
    
    --primary-color-terracota-oscuro: rgb(110,30,10);
    --primary-color-terracota-ultraoscuro: rgb(80, 20, 5);
  
    --primary-color-amarillo: rgb(251,156,30);
    --primary-color-cafe: rgb(44,4,2);


    --font-family: "Ubuntu", sans-serif;
    --font-family-bold: "Ubuntu-Bold", sans-serif;
}